<section class="p-3" id="About">
    <div class="container white">
      <div class="row u-border pt-5 pb-5 pr-3 pl-3">
        <header class="col-12 d-flex justify-content-between">
          <h2>About</h2>
          <a href="#" data-toggle="modal" data-target="#FullModal">
            <i class="fas fa-pencil-alt profile-icon" (click)="this.openAboutForm =!this.openAboutForm "></i></a>
        </header>
        <div class="col-12 pt-3">
          <h5>
            {{profileAbout.about}}
          </h5>
        </div>
      </div>
    </div>

    <app-about-form [openAboutForm]="this.openAboutForm "></app-about-form>
  </section>