<!-- <router-outlet></router-outlet>
<app-intro-card></app-intro-card>
<app-about-card></app-about-card>
<app-highlights-card></app-highlights-card>
<app-background-card></app-background-card>
<app-sills-card></app-sills-card>
<app-intersts-card></app-intersts-card> -->
<router-outlet></router-outlet>
<!-- <app-landing-page></app-landing-page> -->
<!-- <app-login></app-login> -->
<!-- <app-errorpage></app-errorpage> -->
<!-- <app-regform1></app-regform1> -->
<!-- <app-regform2></app-regform2> -->
<!-- <app-regform3></app-regform3> -->
<!-- <app-regform4></app-regform4> -->
<!-- <app-regform5></app-regform5> -->

<!-- profile components -->
<!-- <app-profile></app-profile> -->
<!-- <app-footer></app-footer> -->
