// @import "styles-variables";
.tools {
  background-color: $secondary-bg-color;
  margin: 0;
  width: 100%;
  padding-bottom: 3rem;
  display: none;
  transition: all ease-in-out 0.2ms;
  &--active {
    display: block;
  }
}
