<section class="p-3" id="Background">
    <div class="background container u-border rounded p-0 white">
      <!-- Experience -->
      <div class="p-4" *ngIf="profileBackground.workExperience">
        <div class="row">
          <h2 class="col-sm-11 background__section-heading">Experience</h2>
          <a href="" class="col-sm-1 text-right " data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-plus p-3 profile-icon "></i></a>
        </div>
        <div class="background__hide-icon media row py-3 ">
          <div class="col-sm-1">
            <img src="Assets/images/itiLogo.png" class="align-self-start background__img" />
          </div>
          <div class="media-body col-sm-10 ">
            <h3>Student</h3>
            <a href="http://" class="stretched-link text-decoration-none text-reset">
              <p class="mb-0 d-inline ">Information technology institute</p>
            </a>
            <p class="mb-0 d-inline ">. Full Time</p>
            <br />
            <p class="mb-0 d-inline text-muted">Oct2019</p>
            <p class="mb-0 d-inline text-muted">- Present</p>
            <p class="mb-0 text-muted">Egypt</p>
            <p class="mb-0 text-muted">Enterprise and web development track</p>
          </div>
          <a href="" class="col-1 text-right" data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-pen p-3 profile-icon profile-icon--hide"></i></a>
        </div>
        <div class="u-border-bottom offset-1 row"></div>
        <div class="background__hide-icon media row py-3 ">
          <div class="col-sm-1">
            <img src="assets/images/itiLogo.png" class="align-self-start background__img" />
          </div>
          <div class="media-body col-sm-10">
            <h3>Student</h3>
            <a href="http://" class="stretched-link text-decoration-none text-reset">
              <p class="mb-0 d-inline ">Information technology institute</p>
            </a>
            <p class="mb-0 d-inline">. Full Time</p>
            <br />
            <p class="mb-0 d-inline text-muted">Oct2019</p>
            <p class="mb-0 d-inline text-muted">- Present</p>
            <p class="mb-0 text-muted">Egypt</p>
            <p class="mb-0 text-muted">Enterprise and web development track</p>
          </div>
          <a href="" class="col-1 text-right" data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-pen p-3 profile-icon profile-icon--hide"></i></a>

        </div>
      </div>

      <!-- hr -->
      <div class="u-border-bottom"></div>

      <!-- Education -->
      <div class="p-4" *ngIf="profileBackground.education">
        <div class="row">
          <h2 class="col-sm-11 background__section-heading">Education</h2>
          <a href="" class="col-sm-1 text-right " data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-plus p-3 profile-icon "></i></a>
        </div>
        <ng-container *ngFor="let org of profileBackground.education">
        <div class="background__hide-icon media row py-3 bacground-subsection">
          <div class="col-sm-1">
            <img src={{org.school.logoURL}} class="align-self-start background__img" />
          </div>
          <div class="media-body col-sm-10 ">
            <a href="http://" class="stretched-link text-decoration-none text-reset">
              <h3>{{org.school.title}}</h3>
            </a>
            <p class="mb-0 d-inline" *ngIf="org.degree">{{org.degree}} . </p>
            <p class="mb-0 d-inline" *ngIf="org.fieldOfStudy">{{org.fieldOfStudy}}</p>
            <p class="mb-0 d-inline" *ngIf="org.grade">. {{org.grade}}</p>
            <br />
            <p class="mb-0 d-inline text-muted" *ngIf="org.startYear">{{org.startYear}}</p>
            <p class="mb-0 d-inline text-muted" *ngIf="org.endYear"> - {{org.endYear}}</p>
            <p class="mb-0 text-muted" *ngIf="org.activities">{{org.activities}}</p>
            <p class="mb-0 text-muted" *ngIf="org.description">{{org.description}}</p>
          </div>
          <a href="" class="col-1 text-right" data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-pen p-3 profile-icon profile-icon--hide"></i></a>
        </div>
        <div class="u-border-bottom offset-1 row" *ngIf="org.school.id != profileBackground.education[profileBackground.education.length -1].school.id"></div>
      </ng-container>
      </div>

      <!-- hr -->
      <div class="u-border-bottom"></div>

      <!-- Volunteer Experience -->
      <div class="p-4" *ngIf="profileBackground.volunteerExperience">
        <div class="row">
          <h2 class="col-sm-11 background__section-heading">Volunteer Experience</h2>
          <a href="" class="col-sm-1 text-right " data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-plus p-3 profile-icon "></i></a>
        </div>
        <ng-container  *ngFor="let org of profileBackground.volunteerExperience">
        <div class="background__hide-icon media row py-3 bacground-subsection ">
          <div class="col-sm-1">
            <img src={{org.organization.logoURL}} class="align-self-start background__img" />
          </div>
          <div class="media-body col-sm-10 ">
            <h3>{{org.role}}</h3>
            <a href="http://" class="stretched-link text-decoration-none text-reset">
              <p class="mb-0 ">{{org.organization.title}}</p>
            </a>
            <p class="mb-0 d-inline text-muted">{{org.startDate}}</p>
            <p class="mb-0 d-inline text-muted"> - {{org.endDate}}</p>
            <p class="mb-0 text-muted">{{org.cause}}</p>
            <p class="mb-0 text-muted">{{org.description}}</p>
          </div>
          <a href="" class="col-1 text-right" data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-pen p-3 profile-icon profile-icon--hide"></i></a>
        </div>
        <div class="u-border-bottom offset-1 row" *ngIf="org.role != profileBackground.volunteerExperience[profileBackground.volunteerExperience.length -1].role"></div>
      </ng-container>
      </div>

      <!-- hr -->
      <div class="u-border-bottom"></div>

      <!-- licenses & certifications -->
      <!-- <div class="p-4">
        <div class="row">
          <h2 class="col-sm-11 background__section-heading">licenses & certifications</h2>
          <a href="" class="col-sm-1 text-right " data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-plus p-3 profile-icon "></i></a>
        </div>
        <div class="background__hide-icon media row py-3 ">
          <div class="col-sm-1">
            <img src="assets/images/itiLogo.png" class="align-self-start background__img" />
          </div>
          <div class="media-body col-sm-10 ">
            <h3>Name</h3>
            <a href="http://" class="stretched-link text-decoration-none text-reset">
              <p class="mb-0  ">Issuing Organization </p>
            </a>
            <p class="mb-0 d-inline text-muted">Issued Oct2019</p>
            <p class="mb-0 d-inline text-muted">. Expired Jun2020</p>
            <p class="mb-0 text-muted">Credntial ID</p>
            <a href="http://" class="mb-0 text-muted">See Credntial</a>
          </div>
          <a href="" class="col-1 text-right" data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-pen p-3 profile-icon profile-icon--hide"></i></a>
        </div>
        <div class="u-border-bottom offset-1 row"></div>
        <div class="background__hide-icon media row py-3 ">
          <div class="col-sm-1">
            <img src="assets/images/itiLogo.png" class="align-self-start background__img" />
          </div>
          <div class="media-body col-sm-10 ">
            <h3>Name</h3>
            <a href="http://" class="stretched-link text-decoration-none text-reset">
              <p class="mb-0  ">Issuing Organization </p>
            </a>
            <p class="mb-0 d-inline text-muted">Issued Oct2019</p>
            <p class="mb-0 d-inline text-muted">. Expired Jun2020</p>
            <p class="mb-0 text-muted">Credntial ID</p>
            <a href="http://" class="mb-0 text-muted">See Credntial</a>
          </div>
          <a href="" class="col-1 text-right" data-toggle="modal" data-target="#FullModal"><i
              class="fas fa-pen p-3 profile-icon profile-icon--hide"></i></a>

        </div>
      </div> -->
    </div>
  </section>