// @import "styles-variables";
.profile-icon {
  color: #0073b1;
  font-size: 1.5rem;
  border-radius: 50%;
  &:hover {
    background-color: rgba(152, 216, 244, 0.25);
  }
  &--hide {
    display: none;
  }
}
