<div [ngClass]="{'modal': true, 'show-modal': this.profileService.profiles[currentIndex].openVolunteerExperienceForm}" id="FullModal" 
  tabindex="-1" role="dialog" aria-labelledby="FullModalLabel" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content row">
      <div class="modal-header">
        <h5 class="modal-title" id="FullModalLabel">{{mood}} volunteer experience</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="this.profileService.profiles[currentIndex].openVolunteerExperienceForm=!this.profileService.profiles[currentIndex].openVolunteerExperienceForm"
        >
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="volunteerExperienceForm">
            <div class="form-controls">
              <div class="form-group">
                <label for="organization" class="required">Organization</label>
                <select formControlName="organization" class="form-control" id="organization">
                  <option value="" disabled selected hidden>-</option>
                  <option value={{i}} *ngFor="let org of profileService.organizations; let i=index">{{org.title}}</option>
                </select>              
              </div>
              <div class="form-group">
                <label for="role" class="required">Role</label>
                <input formControlName="role" class="form-control" type="text" id="role">
              </div>
              <div class="form-group">
                <label for="cause">Cause</label>
                <input formControlName="cause" class="form-control" type="text" id="cause">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="startDate">Start Date</label>
                    <select formControlName="startMonth" class="form-control" id="startMonth">
                      <option value="" disabled selected hidden>Month</option>
                      <option value={{month}} *ngFor="let month of months">{{month}}</option>
                    </select>
                    <select formControlName="startYear" class="form-control" id="startYear">
                      <option value="" disabled selected hidden>Year</option>
                      <option value={{year}} *ngFor=" let year of yearsStart">{{year}}</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label for="endDate">end Date</label>
                    <select formControlName="endMonth" class="form-control" id="endMonth">
                      <option value="" disabled selected hidden>Month</option>
                      <option value={{month}} *ngFor="let month of months">{{month}}</option>
                    </select>
                    <select formControlName="endYear" class="form-control" id="endYear">
                      <option value="" disabled selected hidden>Year</option>
                      <option value={{year}} *ngFor=" let year of yearsStart">{{year}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea formControlName="description" class="form-control" id="description" cols="30" rows="4"></textarea>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveVolunteerExperience()">Save</button>
      </div>
    </div>
  </div>
</div>
