// @import "styles-variables";
// text variables
$primary-text-color: rgba(0, 0, 0, 0.8);
$secondary-text-color: rgba(0, 0, 0, 0.5);
$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
$primary-font-color: #1a1a1a;

$secondary-font-color: #c8c8c8;
$third-font-color: #767676;
$primary-section-bgcolor: #ffffff;
$secondary-bg-color: #f3f6f8;
