<section class="p-3" id="Interests">
    <div class="container interests">
      <h2 class="interests__header">Interests</h2>
      <div class="row interests__container">
        <div class="col-2 col-md-1 text-right">
          <a href="#"><img src="assets/images/valeo.jpg" class="interests__logo" alt="valeo"></a>
        </div>
        <div class="col-10 col-md-5">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              Valeo
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              687,303 followers
            </p>
          </a>
        </div>
        <div class="col-2 col-md-1 text-right">
          <a href="#"><img src="assets/images/arriana.jpg" class="interests__logo" alt="company name"></a>
        </div>
        <div class="col-10 col-md-5">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              Arianna Huffington
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              Founder and CEO at Thrive Global
              <br>
              8,989,208 followers
            </p>
          </a>
        </div>
      </div>
      <div class="row interests__container">
        <div class="col-2 col-md-1 text-right">
          <a href="#"><img src="assets/images/career.png" class="interests__logo" alt="company name"></a>
        </div>
        <div class="col-10 col-md-5">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              Career For Freshers
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              636,664 followers
            </p>
          </a>
        </div>
        <div class="col-2 col-md-1 text-right">
          <a href="#"><img src="assets/images/itiLogo.png" class="interests__logo" alt="company name"></a>
        </div>
        <div class="col-10 col-md-5">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              Information Technology Institute (ITI)
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              34,716 followers
            </p>
          </a>
        </div>
      </div>
      <div class="row interests__container ">
        <div class="col-2 col-md-1 text-right">
          <a href="#"><img src="assets/images/helwan.png" class="interests__logo" alt="company name"></a>
        </div>
        <div class="col-10 col-md-5">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              Helwan University Cairo
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              97,239 followers
            </p>
          </a>
        </div>
        <div class="col-2 col-md-1 text-right">
          <a href="#"><img src="assets/images/doyouremember.png" class="interests__logo" alt="company name"></a>
        </div>
        <div class="col-10 col-md-5">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              DoYouRemember?
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              29,756 followers
            </p>
          </a>
        </div>
      </div>
      <!--button to see a linkedin user companies -->
      <a href="#" data-toggle="modal" data-target="#interests-modal" class="row interests__see-all">
        <div class="interests__see-all-btn">See all</div>
      </a>

      <!-- Modal content that contains user's companies -->
      <div class="modal fade" id="interests-modal" role="dialog">
        <div class="modal-dialog modal-lg interests-modal">
          <div class="interests-modal__content modal-content">
            <div class="interests-modal__header modal-header">
              <h3 class="interests-modal__title">Following</h3>
              <button type="button" class=" close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <div class="interests-modal__body modal-body ">
              <div class="row interests-modal__container">
                <div class="col-1">
                  <a href="#"><img src="assets/images/valeo.jpg" class="interests__logo" alt="company name"></a>
                </div>
                <div class="col-7">
                  <a href="#" class="interests__link ">
                    <h3 class="text-truncate interests__description">
                      Company Name or Description
                    </h3>
                  </a>
                  <a href="#" class="interests__link">
                    <p class=" interests__follower-count">
                      company follower counter
                    </p>
                  </a>
                </div>
                <div class="col-4 text-center">
                  <a class="interests__link--modal" href="#">
                    <i class="fas fa-check "></i>
                    <span>Following</span>
                  </a>
                </div>
              </div>
              <div class="row interests-modal__container">
                <div class="col-1">
                  <a href="#"><img src="assets/images/valeo.jpg" class="interests__logo" alt="company name"></a>
                </div>
                <div class="col-7">
                  <a href="#" class="interests__link ">
                    <h3 class="text-truncate interests__description">
                      Company Name or Description
                    </h3>
                  </a>
                  <a href="#" class="interests__link">
                    <p class=" interests__follower-count">
                      company follower counter
                    </p>
                  </a>
                </div>
                <div class="col-4 text-center">
                  <a class="interests__link--modal" href="#">
                    <i class="fas fa-check "></i>
                    <span>Following</span>
                  </a>
                </div>
              </div>
              <div class="row interests-modal__container">
                <div class="col-1">
                  <a href="#"><img src="assets/images/valeo.jpg" class="interests__logo" alt="company name"></a>
                </div>
                <div class="col-7">
                  <a href="#" class="interests__link ">
                    <h3 class="text-truncate interests__description">
                      Company Name or Description
                    </h3>
                  </a>
                  <a href="#" class="interests__link">
                    <p class=" interests__follower-count">
                      company follower counter
                    </p>
                  </a>
                </div>
                <div class="col-4 text-center">
                  <a class="interests__link--modal" href="#">
                    <i class="fas fa-check "></i>
                    <span>Following</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>