<section class="p-3" id="Accomplishments">
    <div class="container section accomplishments u-border">
      <div class="row">
        <div class="col-md-12">
          <h2>Accomplishments </h2>
          <div href="" class="btn btn--inline float-md-right btn--plus mr-4" data-toggle="tooltip"
            data-placement="bottom"><i class="fas fa-plus"></i></div>

          <div class="accomplishment">
            <div class="accomplishment__section accomplishment__section1">
              <p class="accomplishment__number">4</p>
            </div>
            <div class="accomplishment__section accomplishment__section2 mr-3">
              <h4 class="accomplishment__type">
                Courses
              </h4>
              <p class="accomplishment__description">Arduino . CSS . HTML . Python</p>
            </div>
            <div class="accomplishment__section accomplishment__section3 float-md-right">
              <a class="btn btn--arrow  btn--active" id="btn-1"><i class="fas fa-chevron-down"></i></a>
              <a class="btn btn--arrow" id="btn-2"> <i class="fas fa-chevron-up"></i></a>
            </div>
          </div>
          <div class="accomplishment">
            <div class="accomplishment__section accomplishment__section1">
              <p class="accomplishment__number">2</p>
            </div>
            <div class="accomplishment__section accomplishment__section2 mr-3">
              <h4 class="accomplishment__type">
                Languages
              </h4>
              <p class="accomplishment__description">Arabic . English, Middle(1100-1500)</p>
            </div>
            <div class="accomplishment__section accomplishment__section3 float-md-right">
              <a class="btn btn--arrow  btn--active" id="btn-1"><i class="fas fa-chevron-down"></i></a>
              <a class="btn btn--arrow" id="btn-2"> <i class="fas fa-chevron-up"></i></a>
            </div>
          </div>
          </div>
        </div>
      </div>
  </section>