<section class="p-3" id="Accomplishments">
  <div class="container section-p accomplishments u-border">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h2>Accomplishments</h2>
          <div class="dropdown float-md-right">
            <button class="btn btn--inline  btn--plus mr-4" type="button" id="dropdownMenuButton" 
              data-toggle="dropdown" aria-haspopup="true" (click)="dropdownStatus=!dropdownStatus">
              <i class="fas fa-plus"></i>
            </button>
            <div [ngClass]="{'dropdown-menu': true, 'show': dropdownStatus}" aria-labelledby="dropdownMenuButton" style="position: absolute; transform: translate3d(0px, -116px, 0px); top: 174px; left: auto; right: 0; will-change: transform; color: gray;">
              <a class="dropdown-item d-item" (click)="onCourseForm(-1)">Course</a>
              <a class="dropdown-item d-item" (click)="onProjectForm(-1)">Project</a>
              <a class="dropdown-item d-item" (click)="onLanguageForm(-1)">Language</a>
            </div>
          </div>
        </div>
        

        <!--courses-->
        <div class="accomplishment" *ngIf="profileService.profiles[currentIndex].profileAccomplishments.courses.length!==0">
          <div class="accomplishment__section accomplishment__section1">
            <p class="accomplishment__number">{{profileService.profiles[currentIndex].profileAccomplishments.courses.length}}</p>
          </div>
          <div class="accomplishment__section accomplishment__section2 mr-3 pointer">
            <h4 class="accomplishment__type">
              Courses
            </h4>
            <p class="accomplishment__description">
              <span *ngFor="let course of profileService.profiles[currentIndex].profileAccomplishments.courses">
                {{course.courseName}} . 
              </span>
            </p>
          </div>
          <div class="accomplishment__section accomplishment__section3 float-md-right"> <!--back here-->
            <a class="btn btn--arrow  btn--active" id="btn-1"><i class="fas fa-chevron-down"></i></a>
            <a class="btn btn--arrow" id="btn-2"> <i class="fas fa-chevron-up"></i></a>
          </div>
        </div>

        <!--projects-->
        <div class="accomplishment" *ngIf="profileService.profiles[currentIndex].profileAccomplishments.projects.length!==0">
          <div class="accomplishment__section accomplishment__section1">
            <p class="accomplishment__number">{{profileService.profiles[currentIndex].profileAccomplishments.projects.length}}</p>
          </div>
          <div class="accomplishment__section accomplishment__section2 mr-3 pointer">
            <h4 class="accomplishment__type">
              Projects
            </h4>
            <p class="accomplishment__description">
              <span *ngFor="let project of profileService.profiles[currentIndex].profileAccomplishments.projects">
                {{project.projectName}} . 
              </span>
            </p>
          </div>
          <div class="accomplishment__section accomplishment__section3 float-md-right"> <!--back here-->
            <a class="btn btn--arrow  btn--active" id="btn-1"><i class="fas fa-chevron-down"></i></a>
            <a class="btn btn--arrow" id="btn-2"> <i class="fas fa-chevron-up"></i></a>
          </div>
        </div>

        <!--languages-->
        <div class="accomplishment" *ngIf="profileService.profiles[currentIndex].profileAccomplishments.languages.length!==0">
          <div class="accomplishment__section accomplishment__section1">
            <p class="accomplishment__number">{{profileService.profiles[currentIndex].profileAccomplishments.languages.length}}</p>
          </div>
          <div class="accomplishment__section accomplishment__section2 mr-3 pointer">
            <h4 class="accomplishment__type">
              Languages
            </h4>
            <p class="accomplishment__description">
              <span *ngFor="let language of profileService.profiles[currentIndex].profileAccomplishments.languages">
                {{language.language}} . 
              </span>
            </p>
          </div>
          <div class="accomplishment__section accomplishment__section3 float-md-right"> <!--back here-->
            <a class="btn btn--arrow  btn--active" id="btn-1"><i class="fas fa-chevron-down"></i></a>
            <a class="btn btn--arrow" id="btn-2"> <i class="fas fa-chevron-up"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>