.connection-card-container {
  border-bottom: 1px solid rgba(61, 61, 61, 0.356);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connection-card-subcontainer:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  box-sizing: border-box;
  padding: 0;
}

.connection-card-subcontainer:last-child {
  width: 30%;
  box-sizing: border-box;
}
.connection-card-subcontainer:last-child button {
  background-color: white;
  border: 2px solid cornflowerblue;
  color: cornflowerblue;
  padding: 0.3rem 1rem;
  border-radius: 5rem;
  font-size: 1.3rem;
}
.connection-card-subcontainer:last-child button:hover {
  color: #0080ff;
  border-color: #0080ff;
}
.connection-card-image {
  height: 5rem;
  width: 5rem;
  background-color: lightslategray;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: inline-block;
}
.connection-card-name {
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0%;
}
.connection-card-title{
  padding: 0%;
}