// @import "styles-variables";
.layout-margin {
  margin: 5rem;
}
.linkedin-color {
  background-color: #f5f5f5;
}

.u-border {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}
.u-border-bottom {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}

label.required::after {
  content: "*";
  color: #0073b1;
  margin-left: 2px;
}
