<ng-container>
    <footer class="footer__base" role="contentinfo">
        <div class="footer__base__wrapper">

            <ul class="footer__base__nav-list" aria-label="Footer Legal Menu">
                <li>
                    <img src="../../../assets/logofullb.png" style="width:25%; vertical-align: bottom;" alt=""
                        srcset="" />
                    <span style="font-size: 1.2rem;">© 2020</span>
                </li>
                <li>
                    <a href="#/legal/user-agreement?trk=d_checkpoint_lg_consumerLogin_ft_user_agreement">
                        User Agreement
                    </a>
                </li>
                <li>
                    <a href="#/legal/privacy-policy?trk=d_checkpoint_lg_consumerLogin_ft_privacy_policy">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a
                        href="#https://linkedin.com/help/linkedin/answer/34593?lang=en&amp;trk=d_checkpoint_lg_consumerLogin_ft_community_guidelines">
                        Community Guidelines
                    </a>
                </li>
                <li>
                    <a href="#/legal/cookie-policy?trk=d_checkpoint_lg_consumerLogin_ft_cookie_policy">
                        Cookie Policy
                    </a>
                </li>
                <li>
                    <a href="#/legal/copyright-policy?trk=d_checkpoint_lg_consumerLogin_ft_copyright_policy">
                        Copyright Policy
                    </a>
                </li>
                <li id="feedback-request">
                    <a href="#https://linkedin.com/help/linkedin?trk=d_checkpoint_lg_consumerLogin_ft_send_feedback&amp;lang=en"
                        target="_blank" rel="nofollow noreferrer noopener">
                        Send Feedback
                    </a>
                </li>
            </ul>

        </div>
    </footer>
</ng-container>