.home-connectors {
  &-container {
    background-color: white;
    box-shadow: 0px 0px 2px rgb(43, 43, 43);
    padding: 0.5rem 0rem;
    padding-bottom: 0px;
    font-size: 0.8rem;
    div {
      padding: 0.5rem 1rem;
    }
  }
}
