<div class="account-peak-container">
	<div class="account-peak-cover">
		<div class="account-peak-image"
			[ngStyle]="{'background-image': 'url(' + account.profileIntro.profilePhoto + ')'}">

		</div>
	</div>
	<div class="account-peak-title">{{account.profileIntro.firstName+" "+account.profileIntro.lastName}}</div>
	<div class="account-peak-intro">{{account.profileAbout.about}}</div>
	<hr />
	<div class="account-peak-profile-viewers"> Who viewed your profile
		<div>{{account.profileDashboard.profileViews}}</div>
	</div>
	<div class="account-peak-post-viewers">Views of your post
		<div>{{account.profileDashboard.articleViews}}</div>
	</div>

</div>