<div class="account-peak-container">
	<div class="account-peak-cover">
		<div class="account-peak-image" [ngStyle]="{'background-image': 'url(' + account.imgURL + ')'}">

		</div>
	</div>
	<div class="account-peak-title">{{account.name}}</div>
	<div class="account-peak-intro">{{account.intro}}</div>
	<hr />
	<div class="account-peak-profile-viewers"> Who viewed your profile
		<div>{{account.viewers.profile}}</div>
	</div>
	<div class="account-peak-post-viewers">Views of your post
		<div>{{account.viewers.post}}</div>
	</div>

</div>