.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	border-bottom: 2px solid lightgrey;
	a{
		color:black;
		text-decoration: none;
		padding: 0px 20px;
		font-size: 1.2rem;
		transition: all 0.2s linear;
		&:hover{
			color: dodgerblue;
		}
	}
}