.post-composer {
  box-shadow: 0px 0px 2px #2b2b2b;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
}
.post-composer input {
  width: 80%;
  padding: 1rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: white;
}
.post-composer button {
  padding: 0.8rem 0rem;
  font-size: 1.3rem;
  background-color: dodgerblue;
  color: white;
  border: none;
  width: 20%;
  text-align: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: none;
}