<div [ngClass]="{'modal': true, 'show-modal': this.profileService.openContactInfoForm }" id="FullModal" 
  tabindex="-1" role="dialog" aria-labelledby="FullModalLabel" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content row">
      <div class="modal-header">
        <h5 class="modal-title" id="FullModalLabel">Edit contact info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span (click)="this.profileService.openContactInfoForm=!this.profileService.openContactInfoForm">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactInfoForm">
          <div class="form-controls">
            <div class="form-group">
              <label for="phone" >Phone</label>
              <input formControlName="phone" class="form-control" type="text" id="phone">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input formControlName="address" class="form-control" type="text" id="address">
            </div>
            <div class="form-group">
              <label for="birthday" >Birthday</label>
              <input formControlName="birthday" class="form-control" type="date" id="birthday">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveContactInfo()">Save</button>
      </div>
    </div>
  </div>
</div>
