<div class="post-card-container" [ngClass]="{'hidden':isPostHidden}">
	<div class="post-card-header">
		<div class="post-card-header-sub">
			<div class="post-card-image" [ngStyle]="{'background-image': 'url(' +account.imageURL+ ')'}"></div>
		</div>
		<div class="post-card-header-sub">
			<div class="post-card-name">{{account.firstName+" "+account.lastName}}</div>
			<div class="post-card-menu-container">
				<fa-icon [icon]="faEllipsisH"></fa-icon>
				<div class="post-card-menu">
					<div class="post-card-menu-edit" [ngClass]="{'hidden':!isMyPost}" (click)="editPost()">edit</div>
					<div class="post-card-menu-delete" [ngClass]="{'hidden':!isMyPost}" (click)="deletePost()">delete
					</div>
					<div class="post-card-menu-hide" [ngClass]="{'hidden':isMyPost}" (click)="hidePost()">hide</div>
				</div>
			</div>
			<div class="post-card-title">{{account.position}}</div>
			<div class="post-card-time">{{time}}</div>
		</div>
	</div>
	<div class="post-card-body" [attr.contenteditable]='isEditing'>
		{{post.post}}
	</div>
	<div class="post-card-editControls" [ngClass]="{'hidden':!isEditing}">
		<button (click)="save($event)">okay</button>
		<button (click)="cancel($event)">cancel</button>
	</div>
	<div [ngClass]="{'hidden':!post.isShared}">
		<div class="shared-post-preview">
			<div class="shared-post-preview-sub">
				<div class="post-card-image" [ngStyle]="{'background-image': 'url(' +sharedAccount.imageURL+ ')'}">
				</div>
				<div class="post-card-name">{{sharedAccount.firstName+" "+sharedAccount.lastName}}</div>
			</div>
			<div class="shared-post-preview-sub">
				{{sharedPost.post}}
			</div>
		</div>
	</div>
	<div class="post-card-likes">
		<fa-icon [icon]="faThumbsUp" [ngClass]="{'grey':!isliked}"></fa-icon> {{post.likes}}
	</div>
	<div class="post-card-controls">
		<button (click)="addLike()">Like</button>
		<button (click)="displayComments()">Comment</button>
		<button (click)="sharingPost()">Share</button>
	</div>
	<div class="post-card-comment" [ngClass]="{'hidden':isHidden}">
		<div class="post-card-comment-add">
			<input type="text" placeholder="Add Comment ..." />
			<button (click)="addComment($event)">comment</button>
		</div>
		<div *ngFor='let c of comment;let i = index' class="post-card-comment-border">
			<div class="post-card-comment-card">
				<div class="post-card-image post-card-comment-card-image"
					[ngStyle]="{'background-image': 'url(' +c.imageURL+ ')'}"></div>
				<div class="post-card-comment-card-title">{{c.firstName+" "+c.lastName}}
				</div>
			</div>
			<div class="post-card-comment-card-body">
				{{post.comments[i].comment}}
			</div>

		</div>
	</div>
</div>