<section class="p-3" id="Dashboard">
    <div class="container">
      <div class="row dashboard u-border">
        <h2 class="dashboard__title">Your Dashboard</h2>
        <h3 class="dashboard__subtitle">Private to you</h3>
        <div class="list-group list-group-horizontal flex-fill">
          <a href="#" class="list-group-item dashboard__item list-group-item-action">
            <div class="dashboard__count">{{profileDashboard.profileViews}}</div>
            <div class="dashboard__description">Who viewed your profile</div>
          </a>
          <a href="#" class="list-group-item dashboard__item list-group-item-action">
            <div class="dashboard__count">{{profileDashboard.articleViews}}</div>
            <div class="dashboard__description">Article views</div>
          </a>
          <a href="#" class="list-group-item dashboard__item list-group-item-action">
            <div class="dashboard__count">{{profileDashboard.searchAppearance}}</div>
            <div class="dashboard__description">Search appearance</div>
          </a>
        </div>
      </div>
    </div>
  </section>