// @import "styles-variables";
.accomplishment {
  padding: 1rem;
  border-bottom: 1px solid $secondary-font-color;
  &__type {
    font-size: 1.5rem;
    color: #2d7eaa !important;
    font-weight: 550;
  }
  &__description {
    font-size: 1.4rem;
    font-weight: 400;
  }
  &__section {
    display: inline-block !important;
    padding: 1rem;
  }
  &__section1 {
    p {
      font-size: 4rem;
      color: #2d7eaa;
      font-weight: 600;
    }
  }
  &__active {
    background-color: #e5f5fc;
    height: auto;
  }
}
