// @import "styles-variables";
.section {
  background-color: $primary-section-bgcolor;

  .btn--inline {
    margin-top: 1.5rem;
  }
  .btn--inline,
  h2 {
    display: inline-block !important;
    margin-top: 2.5rem;
  }
  h2,
  h3 {
    line-height: 1.4;
    font-weight: 400;
    color: $primary-font-color;
    padding-left: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-top: 2.7rem;
    padding-left: 2.4rem;
    color: $third-font-color;
  }
}
