<section class="p-3" id="ProfileSummary">
  <div class="container u-border">
    <div class="row">
      <!-- upper div that includes img -->
      <div class="col-sm-12 profile-imgs">
        <!--profile img -->
        <div class="position-absolute profile-img">
          <img
            src="{{ accounts[currentAccount].imageURL[0] }}"
            class="rounded-circle"
            id="profile-photo"
          />
        </div>
      </div>
      <!-- down div -->
      <div class="col-sm-12">
        <!-- upper section -->
        <div class="row pt-sm-3 pb-sm-3">
          <div class="col-sm-6 offset-6 dropdown">
            <div class="d-flex justify-content-end align-items-center edit-profile" style="margin-left: 50%;">
              <div class="p-2">
                <a
                  role="button"
                  href="#"
                  class=" btn-primary btn-lg add-section"
                  id="dropdownMenu1"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  (click)="handleRemoveConnection(accounts[currentAccount].id)"
                >
                  {{ removeConnectionText }}
                  <!-- <i class="fas fa-sort-down"></i> -->
                </a>
                <!-- Add Profile Section Modal -->
              </div>
              <div class="dropdown p-2">
                <a
                  class="btn border border-dark btn-light dropdown-toggle"
                  id="dropdownMenu2"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  More....
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item">
                    <i class="fas fa-share p-2"></i>Share Profile vs Message</a
                  >
                  <a class="dropdown-item">
                    <i class="fas fa-share p-2"></i>Save as PDF</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- down section  -->
        <div class="row p-3">
          <div class="col-sm-6 user-info">
            <div class="p-sm-3">
              <div>
                <h2 class="d-inline-block">
                  {{ accounts[currentAccount].firstName }}
                </h2>
                <!-- <button (click)="print()">vgb</button> -->

                <h2 class="d-inline-block">
                  {{ accounts[currentAccount].lastName }}.
                </h2>
                <h3
                  [ngClass]="{
                    'd-none': connectionStatus
                  }"
                >
                  1st.
                </h3>
              </div>
              <div>
                <h4>{{ accounts[currentAccount].position }}</h4>
              </div>
              <div class="d-flex">
                <h4>{{ accounts[currentAccount].country }} .</h4>
                <ul class="info">
                  <!-- Button trigger modal -->
                  <li id="connection">
                    <a href="#" class="btn btn-link">
                      {{ accounts[currentAccount].connections.length }}
                      Connections .</a
                    >
                  </li>
                  <li id="contact">
                    <a
                      href="#"
                      type="button"
                      class="btn btn-link"
                      data-toggle="modal"
                      data-target="#Connection"
                    >
                      Contact info
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 p-sm-3 experiences">
            <div class="d-flex justify-content-end align-items-center">
              <div class="sm-img">
                <img
                  class="img-fluid"
                  src="{{
                    accounts[currentAccount].workPlace[currentAccount].logoURL
                  }}"
                />
              </div>
              <div>
                <a href="#" class="btn btn-link">
                  {{ accounts[currentAccount].workPlace[currentAccount].title }}
                </a>
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <div class="sm-img">
                <img
                  class="img-fluid"
                  src="{{
                    accounts[currentAccount].studyPlace[currentAccount].logoURL
                  }}"
                />
              </div>
              <div>
                <a href="#" class="btn btn-link">
                  {{
                    accounts[currentAccount].studyPlace[currentAccount].title
                  }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
