// @import "styles-variables";
.dashboard {
  display: flex;
  background-color: white;
  //background-color: #f3f6f8;
  padding: 3rem 2rem;
  flex-direction: column;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  &__subtitle {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }
  // &__item {
  //   // min-height: 4rem;
  // }
  &__count {
    color: black;
    //color: #0073b1;
    font-size: 1.5rem;
  }
  &__description {
    font-size: 1.6rem;
  }
}
