// @import "styles-variables";
.interests-modal {
  &__content {
    padding: 1rem 0rem;
  }
  &__title {
    margin-left: 0.5rem;
  }
  &__container {
    padding: 1.5rem 1rem;
    min-height: 14rem;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
