<div [ngClass]="{'modal': true, 'show-modal': this.profileService.profiles[currentIndex].openCourseForm }" id="FullModal" 
  tabindex="-1" role="dialog" aria-labelledby="FullModalLabel" aria-modal="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content row">
      <div class="modal-header">
        <h5 class="modal-title" id="FullModalLabel">{{mood}} Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span (click)="this.profileService.profiles[currentIndex].openCourseForm=!this.profileService.profiles[currentIndex].openCourseForm">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="courseForm">
          <div class="form-controls">
            <div class="form-group">
              <label for="courseName" class="required">Course Name</label>
              <input formControlName="courseName" class="form-control" type="text" id="courseName">
            </div>
            <div class="form-group">
              <label for="associatedWith" class="required">Associated with</label>
              <select formControlName="associatedWith" class="form-control" id="associatedWith">
                <option value="" disabled selected hidden>-</option>
                <option value={{i}} *ngFor="let org of profileService.organizations; let i=index">{{org.title}}</option>
              </select>            
            </div>
          </div>
          {{courseForm.value | json}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveCourse()">Save</button>
      </div>
    </div>
  </div>
</div>
